<div class="container text-center my-auto white">
  <h1 class="mb-1">NOTIFY</h1>
  <h3 class="mb-5"><em>Store your favorite notes</em></h3>
  <a href="/signin" class="btn btn-primary">Let's get Started</a>
</div>
